#product-image {
    width: 350px;
    height: 400px;
    margin-right: 20px;
    animation: z-wave 20s linear infinite;
}

#image-holder {

}

#view-card {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
}

#description {
    display: flex;
    justify-content: space-around;
    text-align: start;
    font-weight: normal;
    font-size: 16px;
    width: 70%;
    padding-top: 20px;
    border-top: rgba(224, 217, 217, 0.83) solid 1px;
}

#price-tag {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    color: rgb(13, 164, 1);
    height: 50px;
}

#product-title {
    text-align: left;
}


@keyframes z-wave {
    0% {
        transform: rotateY(20deg);
    }

    25% {
        transform: rotateY(0deg);
    }

    50% {
        transform:rotateY(-20deg);
    }

    75% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(20deg);
    }
}
